<!-- Custom Home page design -->
{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}




<section id="section-content">
 
    <div id="home" class="container-fluid home">
      <div class="row mx-auto">
        <div class="col-xs-12 col-md-4 col-lg-4">
            <img id="self-image" style="margin-left: 200px;" src="{{ site.data.bio.basics.picture }}" align="left center" width=200px length = 200px>
        </div>
        <div class="col-xs-12 col-md-8 col-lg-8 my-auto">
            <h1 id="name" class="mt-2 mb-3">{{ site.data.bio.basics.name }}</h1>
            <h2 class="my-3">{{ site.data.bio.basics.label }} Computer Science student at the Unviersity of Hawaii at Manoa <a id="company" href="{{ site.data.bio.basics.companyURL }}">{{ site.data.bio.basics.company }}</a></h2>
            <div class="my-3">
                <ul class="mx-auto contact-list">
                    <li>
                        <a class="icon-link" target="_blank" href="https://github.com/jnocampo">
                          <span class="fa-stack fa-lg">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x"></i>
                          </span>
                        </a>
                    </li>
                    <li>
                        <a class="icon-link" href="mailto:jessicaocampo415@gmail.com">
                          <span class="fa-stack fa-lg">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-envelope fa-stack-1x"></i>
                          </span>
                        </a>
                    </li>
                    <li>
                        <a class="icon-link" target="_blank" href="https://www.linkedin.com/in/jnocampo/">
                            <span class="fa-stack fa-lg">
                              <i class="far fa-circle fa-stack-2x"></i>
                              <i class="fab fa-linkedin fa-stack-1x"></i>
                            </span>
                          </a>
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>

</section>

</div>
<footer id="footer" class="text-center">
  <hr class="post-content">
</footer>
