<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{{ site.baseurl }}/css/semantic-ui/semantic.min.js"></script>
<link rel="stylesheet" href="{{ site.baseurl }}/css/semantic-ui/semantic.min.css">

<div style="padding-top: 20px" class="ui container ">

  <div class="ui stackable centered four cards">
    {% assign project_pages = site.pages | where: "type", "project" | sort: "date" | reverse %}
    {% for page in project_pages %}
      {% unless page.draft %}
        {% include project-card.html page=page %}
      {% endunless %}
    {% endfor %}
  </div>
</div>
